<footer class="footer">
	<div class="footer__wrap">

		<div class="footer__left">
			<h1 class="logo footer__logo">
				OYO
			</h1>
			<p>
				Branded Budget Rooms
			</p>
			<ul class="footer_social social">
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-facebook"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-twitter"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-pinterest"></i>
					</a>
				</li>
				<li class="social__item">
					<a href="#" class="social__link">
						<i class="icon-gplus"></i>
					</a>
				</li>
			</ul>
		</div>

		<div class="footer__right">

			<ul class="footer__nav footnav">
				<li class="footnav__heading">OYO</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">About Us</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Team</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Careers</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Press & Media</a>
				</li>
			</ul>

			<ul class="footer__nav footnav">
				<li class="footnav__heading">
					Legal
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Privacy Policy</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Cancellation Policy</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Booking Policy</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Terms & Conditions</a>
				</li>
			</ul>

			<ul class="footer__nav footnav">
				<li class="footnav__heading">
					Business
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">OYO for Hotel Owners</a>
				</li>
				<li class="footnav__item">
					<a href="#" class="footnav__link">Corporate Partnerships</a>
				</li>
			</ul>

		</div>
		{{!-- end footer__right --}}

	</div>
	{{!-- end footer__wrap --}}

</footer>

<div class="footer__bottom">
	<p>2014-15 (C) Oravel Stays Private Limited - All rights reserved</p>
</div>
