<header class="header">
	<div class="header__container">
		<a href="/">
		<h1 class="logo header__logo">
			Oyo
		</h1>
		</a>
		<p class="header__byline">
			Branded Budget Rooms
		</p>
		<div class="header__phone phone">
			<p class="phone__number">09871367583</p>
			<i class="icon-phone phone__icon"></i>
		</div>
	</div>
</header>
