<div class="hotelbookingcontainer">
	<div class="hotelbookingcontainer__fieldwrap hotelbookingcontainer__left">
		<div class="hotelbookingcontainer__label">CHECKIN-IN</div>
		<div class="hotelbookingcontainer__borderdiv">
		<i class="icon-calendar searchbar__icon"></i>
		<input class="hotelbookingcontainer__input datepicker" type="text" placeholder="Check-in date">
		</div>
	</div>
	<div class="hotelbookingcontainer__fieldwrap">
		<div class="hotelbookingcontainer__label">CHECK-OUT</div>
		<div class="hotelbookingcontainer__borderdiv">
		<i class="icon-calendar searchbar__icon"></i>
		<input class="hotelbookingcontainer__input" type="text" placeholder="Check-out date">
	</div>
	</div>

	<div class="hotelbookingcontainer__fieldwrap hotelbookingcontainer__left">
				<div class="hotelbookingcontainer__label">NUMBER OF GUESTS</div>
				<div class="hotelbookingcontainer__borderdiv">
				<i class="icon-calendar guestselect__icon"></i>
				<div id="js-guestselect__input--guests" class="hotelbookingcontainer__box">2</div>
				<button class="icon-minus hotelbookingcontainer__button js-minus js-guestbutton"></button>
				<button class="icon-plus hotelbookingcontainer__button js-plus js-guestbutton"></button>
			</div>
		</div>
		<div class="hotelbookingcontainer__fieldwrap border">
			<div class="hotelbookingcontainer__label">NUMBER OF ROOMS</div>
			<div class="hotelbookingcontainer__borderdiv">
			<i class="icon-calendar guestselect__icon"></i>
			<div id="js-guestselect__input--rooms" class="hotelbookingcontainer__box">1</div>
			<button class="icon-minus hotelbookingcontainer__button js-minus js-roombutton"></button>
			<button class="icon-plus hotelbookingcontainer__button js-plus js-roombutton"></button>
		</div>
		</div>
		<button class="hotelbookingcontainer__booknow">BOOK NOW</button>

</div>
