<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    {{!-- Remove the stylesheet below before production --}}
    <link href="https://fontastic.s3.amazonaws.com/zyAhYA2NMecSRiJR7qTwQ7/icons.css" rel="stylesheet">

    <script src="//use.typekit.net/amb1oek.js"></script>
		<script>try{Typekit.load();}catch(e){}</script>

</head>
<body data-pagetype="{{type}}">

    {{{body}}}

</body>
<script src="/bundle.js" ></script>
</html>
