{{> header}}
<div class="hero">
	<div class="hero__overlay">
	<div class="hero__hotelcontent">
		{{!-- add carousel & hotel  name bar --}}
		<h1 class="hero__byline">OYO ROOMS GOLF COURSE ROAD PREMIUM</h1>
		<h2 class="hero__byline--small">B,54 Greenwood City, Gurgaon</h2>
	</div>
	</div>
	{{!-- end hero__content --}}
</div>
{{!-- end hero --}}
<section class="about__section">
	<div class="about__leftcontainer">
	<div class="about__hotelinfo">
		<div class="about__hotelinfo--name">Amenities</div>
		<div class="about__content">
		<div class="about__amenitieslist">
				<div class="about__amenitiesitem">
					<span class="icon-calendar about__amenitiesicon"></span>
					<span>Free Wifi</span>
				</div>
				<div class="about__amenitiesitem"> 
					<span class="icon-calendar about__amenitiesicon"></span>
					<span>Free Wifi</span>
				 </div>
				 <div class="about__amenitiesitem"> 
					<span class="icon-calendar about__amenitiesicon"></span>
					<span>Free Wifi</span>
				 </div>
				 <div class="about__amenitiesitem"> 
					<span class="icon-calendar about__amenitiesicon"></span>
					<span>Free Wifi</span>
				 </div>
		</div>
		<div class="about__amenitieslist">
				 <div class="about__amenitiesitem"> 
							<span class="icon-calendar about__amenitiesicon"></span>
							<span>Free Wifi</span>
				 </div>
				 <div class="about__amenitiesitem"> 
							<span class="icon-calendar about__amenitiesicon"></span>
							<span>Free Wifi</span>
				 </div>
				 <div class="about__amenitiesitem"> 
							<span class="icon-calendar about__amenitiesicon"></span>
							<span>Free Wifi</span>
				 </div>

		</div>
	</div>
	<div class="about__separator"></div>
	</div>
	<div class="about__hotelinfo">
		<div class="about__hotelinfo--name">About</div>
		<div class="about__content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis, officiis numquam? Eos consequatur quasi, officia debitis eligendi vel magni quod tempore maxime nihil. Minima natus ullam tenetur cupiditate deleniti.
		</div>
	</div>
	<div class="about__hotelinfo">
		<div class="about__hotelinfo--name">About</div>
		<div class="about__content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis, officiis numquam? Eos consequatur quasi, officia debitis eligendi vel magni quod tempore maxime nihil. Minima natus ullam tenetur cupiditate deleniti.
		</div>
		<div class="about__separator"></div>
	</div>
	<div class="about__hotelinfo">
		<div class="about__hotelinfo--name">Map & Directions</div>
		<div class="about__content">
		<img class="about__mapimage" src="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&size=600x600&markers=scale:3|icon:http://www.oyorooms.com/assets/marker.png| location,directions" alt="">	
		</div>
		<div class="about__separator"></div>
	</div>
	<div class="about__hotelinfo">
		<div class="about__hotelinfo--name">About this space</div>
		<div class="about__content">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus omnis, officiis numquam? Eos consequatur quasi, officia debitis eligendi vel magni quod tempore maxime nihil. Minima natus ullam tenetur cupiditate deleniti.
		</div>
		<div class="about__separator"></div>
	</div>
	</div>
	<div class="about__rightcontainer">
		<div class="hotelextradetails">
		{{> hotelbooking}}
		</div>
		<div class="hotelextradetails">
		<div class="about__hotelinfo--name">Map & Directions</div>
		<div class="about__content">
			<img class="about__mapimage" src="https://maps.googleapis.com/maps/api/staticmap?center=&zoom=14&size=200x200&markers=scale:3|icon:http://www.oyorooms.com/assets/marker.png| location,directions" alt="">
		</div>
		</div>


	</div>
</section>

<section>
</section>
{{> footer}}
