{{> header}}
<div class="modifysearch">
	<div class="modifysearch__wrapper">
		<div class="modifysearch__section">
			<p class="modifysearch__heading">Location</p>
			<p class="modifysearch__content">Huda City Center,Gurgaon</p>
		</div>
		<div class="modifysearch__section">
			<p class="modifysearch__heading">Duration</p>
			<p class="modifysearch__content">21st January-23rd January</p>
		</div>
		<div class="modifysearch__section">
			<p class="modifysearch__heading">Duration</p>
			<p class="modifysearch__content">2 Guests and 1 days</p>
		</div>
		<div class="modifysearch__searchWrap">
			<button class="modifysearch__searchBtn">Modify Search</button>
		</div>
	</div>
</div>
<div class="searchResults">
<div class="searchResultstoptext">
	<p class="searchResults__topText">showing <strong>1</strong> to <strong>20</strong> of 30 results for hotels in Huda City Center, Gurgaon</p>
	<div class="searchResults__sortby">
	<p class="searchResults__sortby__heading">sort by</p>
	<ul class="searchResults__sorter">
		<li class="searchResults__sorter--selected">Distance</li>
		<li>Price</li>
		<li>Rating</li>
	</ul>
	</div>
</div>
<div class="searchResults__wrapper">
<div class="searchResults__filters">
	<div class="searchResults__filtersGroup">
		<h5>Properties</h5>
		<ul class="searchResults__radioSet">
			<li>
			<div class="searchResults__radio"></div>
			All Properties</li>
			<li>
			<div class="searchResults__radio"></div>
			Standard Properties</li>
			<li>
			<div class="searchResults__radio"></div>
			Premium Properties</li>
		</ul>
		<hr width="100%"/>
	</div>
	<div class="searchResults__filtersGroup">
		<h5>Deals</h5>		
		<ul class="searchResults__radioSet">
			<li>
			<div class="searchResults__radio"></div>
			All Properties</li>
			<li>
			<div class="searchResults__radio"></div>
			Properties with Deals</li>
		</ul>
		<hr width="100%"/>
	</div>
	<div class="searchResults__filtersGroup">
		<h5>Nearby Landmarks</h5>		
		<ul class="searchResults__checkboxSet">
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Huda City Center
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Omaxe city Center
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Cyber Hub
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Cyber Park
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 IGI Airport
			</li>
		</ul>
		<hr width="100%"/>
	</div>
	<div class="searchResults__filtersGroup">
		<h5>Amenities</h5>		
		<ul class="searchResults__checkboxSet">
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Dining Hall
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			Swimming Pool
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			 Parking Space
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			Kitchen
			</li>
			<li>
			<div class="searchResults__checkbox">
			<i class="icon-check"></i>
			</div>
			Mini Bar
			</li>
		</ul>
		<hr width="100%"/>
	</div>
</div>
<div class="searchResults__results" id="searchResults__results--js">
	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__deluxeStar"></div>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__deluxeStar"></div>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>


	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>



	</ul>
</div>
</div>

</div>
{{> footer}}
