.cityselect {
	position: relative;

	p {
		color: #fff;
	}

	&__byline {
		display: inline-block;
	}

	&__dropdown {
	  border-bottom: 1px dashed #999;
	  display: inline;
	}

	&__dropdown-menu {
		@include transition (all 0.2s ease-in-out);
		margin: 0;
		padding: 0;
		width: 228px;
		position: absolute;
		background-color: #fff;
		z-index: z('gradient-content');
		box-shadow: 0 2px 2px transparentize(black, 0.8);
		top: 50px;
		right: 390px;
		display: none;
		border-radius: 3px;

    &:before {
      @include position(absolute, 0 1em 0 0);
      color: #fff;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
      left: 15px;
    }

		&.is-showing {
			display: inline-block;
		}

		li {
			list-style-type: none;
			color: black;
			border-bottom: solid 1px c('neutral', 'border');
			padding: 8px;
			cursor: pointer;

			&:hover {
				background-color: c('neutral', 'bg-highlight');
			}

			&:last-child {
				border-radius: 3px;
			}
		}
	}
}
