.modifysearch{
	background-image: url(../images/bg.png);
	width:100%;
	&__wrapper{
		@include outer-container();
		padding: 10px 0;
	}
	&__heading{
		color: c('neutral', 'para-dark');
		font-weight:bold;
		margin:0;
		}
	&__content{
		color: c('neutral', 'para-light');
		font-weight: normal;
		margin:0;
	}
	&__section{
	@include span-columns(4);
	}
	&__searchWrap{
		@include span-columns(3);
		float:right;
	}
	&__searchBtn{
		padding: 8px 25px;
		background: c('neutral', 'para-dark');
		color: c('neutral', 'para-light');
		border: none;
		border-radius: 2px;
		float:right;
	}

}