<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>
	<div class="searchResults__item">	
		<img class="searchResults__hotelImg" src="/images/corporate.jpg" width="100%"/>
		<div class="searchResults__hotelDetails">
			<p><strong>OYO Rooms Huda City Center</strong></p>
			<p>
			<i class="icon-location"></i>
			 B-54, GreenWood city, Gurgaon</p>
		</div>
		<div class="searchResults__hotelBookBox">
		<p><strong>Rs.999</strong> per night </p>
		<button>BOOK</button>
		</div>

	</div>